<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.watchman</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/watchman</string>
      <string>--foreground</string>
      <string>--logfile=/usr/local/var/run/watchman.log</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/run/watchman.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/run/watchman.log</string>
  </dict>
</plist>
